In [88]:
import pandas as pd

train = pd.read_csv("train.csv")

def cleanComment(string):
    for ch in ['"',',']:
        if ch in string:
            string = string.replace(ch,"")
    return string.strip()

train['comment_text_clean'] = train['comment_text'].apply(cleanComment)

new_train = train[['id', 
                   'comment_text_clean', 
                   'toxic', 
                   'severe_toxic', 
                   'obscene', 
                   'threat', 
                   'insult', 
                   'identity_hate',]]

new_train.to_csv("train_clean.csv")

train = new_train

In [86]:
col = list(new_train.columns)

In [90]:
new_train[col[2:]].apply(pd.Series.value_counts)

   toxic  severe_toxic  obscene  threat  insult  identity_hate
0  86614         94886    90742   95546   91086          95037
1   9237           965     5109     305    4765            814